iframe{
     border: 0px;
     width: 100%;
     height: 100%;
} 
#chat_admin {
     border: 0px;
    width: 100%;
     height: 600px;
     background:transparent;
}
#chat_admin iframe{
     border: 0px;
     width: 100%;
     height: 100%;
}
#central_admin {
     border: 0px;
    width: 100%;
     height: 600px;
     background:transparent;
}  
#central_admin iframe{
     border: 0px;
     width: 100%;
     height: 100%;
}
 
#home-frame iframe{
     border: 0px;
     width: 100%;
     height: 100%;
}



.central {
     width: 100%;
}  
.central div{
     width: 100%;
}  